*{
  margin: 0px;
  padding: 0px;
  font-family: Helvetica Neue,Helvetica,sans-serif;
  list-style: none;
}

.clickable{
  cursor: pointer;
}
.sidebar-icons{
  background-color: black;
}

.sidebar-icons a{
  outline: none;
}

.sidebar-icons img{
  height: 25px;
  width: 25px;
  padding: 10px;
}

.sidebar-icons img:hover{
  background-color: #6441A4;
}

.app-body{
  display: flex;
  justify-content: flex-start;
}
.app-container{
  width:440px;
  min-height: 590px;
}

.app-content{
  width: 400px;
  min-height: 559px;
  overflow: hidden;
}

.login-header{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: black;
  text-align: right;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.connect-container{
  text-align: right;
  height: 32px;
}

.logged-in{
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: right;
  height: 30px;
  padding: 5px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logged-in span{
  margin-top: 10px;

}

.user-info{
  display: flex;
  justify-content: flex-start;
  text-align: right;
}

.profile-pic{
  height: 30px;
  width: 30px;
  padding-right: 10px;
}

.top-stream-index{
}

.stream-index-item{
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  padding: 10px;
  white-space: nowrap;
  border-bottom: 1px solid silver;
}

.stream-status{
  width:275px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.stream-preview-img{
  padding-right: 10px;
}

.stream-name{
  font-weight: bold;
}

.selected{
  background-color: #6441A4;
}

.stream-index-item:hover{
  background-color: #efeef1;
}

.game-index{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.game-title{
  font-weight: bold;
}

.game-index-item{
  padding: 10px;
  font-size: 12px;
}

.game-index-item:hover{
  background-color: #efeef1;
}

.game-index img{
  width:76px;
  height: 104px;
}


.game-index li{
  list-style: none;
  width: 76px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-followed-streams{
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: gray;
  margin-top: 200px;
}

.logo{
  width: 200px;
  text-align: left;
  padding-right: 48px;
  height: 32px;
}

.hamb-icon{
  width: 20px;
  height: 20px;
  padding-left: 5px;
  margin-top: 5px;
}

.hamb-menu li:hover{
  background-color: #6441A4;
  color: white;
}

.hamb-menu li{
  padding-top: 5px;
  padding-bottom: 5px;
  color: #6441A4;
}
.hamb-menu{
  position: absolute;
  margin-top: 35px;
  background-color: white;
  z-index: 2;
  margin-left: 20px;
  width:160px;
  color: black;
  border: 1px solid silver;
  text-align: center;
}

.display-name{
  max-width: 115px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}











@keyframes seq-preloader {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.seq-preloader {
  background: rgba(255,255,255,0.9);
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: #6441A4;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height:8px;
  background-color: #6441A4;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}
